namesonnodes-html/trunk/WebContent/ns/entities/2009/entities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://namesonnodes.org/ns/entities/2009" xmlns:none="http://namesonnodes.org/ns/entities/2009" elementFormDefault="qualified">

    <element name="entities" type="none:entitiesType"></element>


    <element name="Authority" type="none:AuthorityType"></element>

    <element name="refAuthority" type="anyURI"></element>

    <element name="AuthorityIdentifier"
    	type="none:AuthorityIdentifierType">
    </element>
    
    <element name="DistanceRow" type="none:DistanceRowType"></element>

    <element name="Dataset" type="none:DatasetType"></element>

    <element name="Heredity" type="none:HeredityType"></element>

    <element name="Inclusion" type="none:InclusionType"></element>

    <element name="Label" type="none:LabelType"></element>

    <element name="PhyloDefinition" type="none:PhyloDefinitionType"></element>

    <element name="RankDefinition" type="none:RankDefinitionType"></element>

    <element name="SpecimenDefinition"
    	type="none:SpecimenDefinitionType">
    </element>

    <element name="StateDefinition" type="none:StateDefinitionType"></element>

    <element name="Synonymy" type="none:SynonymyType"></element>

    <element name="Taxon" type="none:TaxonType"></element>

    <element name="TaxonIdentifier" type="none:TaxonIdentifierType"></element>

    <attributeGroup name="Persistent">
    	<attribute name="id" type="nonNegativeInteger" use="optional"
    		default="0">
    	</attribute>
    	<attribute name="version" type="nonNegativeInteger" default="0" use="optional"></attribute>
    </attributeGroup>

    <element name="refTaxon" type="QName"></element>

    <element name="refDataset" type="QName"></element>


    <complexType name="AuthorityIdentifierType">
    	<sequence>
    		<element name="entity" type="none:AuthorityOrRefType" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    	<attribute name="uri" type="anyURI" use="required"></attribute>
        <attributeGroup ref="none:Persistent"></attributeGroup>
    </complexType>

    <complexType name="AuthorityOrRefType">
    	<choice>
    		<element ref="none:Authority" maxOccurs="1" minOccurs="1"></element>
    		<element ref="none:refAuthority" maxOccurs="1" minOccurs="1"></element>
    	</choice>
    </complexType>


    <complexType name="entitiesType">
    	<sequence minOccurs="0" maxOccurs="unbounded">
    		<choice>
    			<element ref="none:AuthorityIdentifier"></element>
    			<element ref="none:Dataset"></element>
    			<element ref="none:TaxonIdentifier"></element>
    		</choice>
    	</sequence>
    </complexType>


    <complexType name="AuthorityType">
    	<sequence>
    		<element name="label" type="string" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
        <attributeGroup ref="none:Persistent"></attributeGroup>
    </complexType>


    <complexType name="LabelType">
    	<sequence>
    		<element name="name" type="string" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="abbr" type="string" maxOccurs="1"
    			minOccurs="0">
    		</element>
    		<element name="italics" type="boolean" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="SpecimenDefinitionType"><attributeGroup ref="none:Persistent"></attributeGroup></complexType>

    <complexType name="StateDefinitionType"><attributeGroup ref="none:Persistent"></attributeGroup></complexType>

    <attributeGroup name="Qualified">
    	<attribute name="localName" type="string"></attribute>
    </attributeGroup>

    <complexType name="TaxonType">
    	<sequence>
    		<element name="definition" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence maxOccurs="1" minOccurs="1">
    					<element ref="none:PhyloDefinition" maxOccurs="1" minOccurs="1"></element>
    					<element ref="none:RankDefinition" maxOccurs="1" minOccurs="1"></element>
    					<element ref="none:SpecimenDefinition" maxOccurs="1" minOccurs="1"></element>
    					<element ref="none:StateDefinition" maxOccurs="1" minOccurs="1"></element>
    				</sequence>
    			</complexType>
    		</element>
    	</sequence>
    	<attributeGroup ref="none:Persistent"></attributeGroup>
    </complexType>

    <complexType name="TaxonIdentifierType">
    	<sequence>
    		<element name="authority"
    			type="none:AuthorityIdentifierOrRefType" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="entity" type="none:TaxonOrRefType"
    			maxOccurs="1" minOccurs="0">
    		</element>
    		<element name="label" type="string"
    			maxOccurs="1" minOccurs="1">
    		</element>
    	</sequence>
    	<attributeGroup ref="none:Persistent"></attributeGroup>
    	<attributeGroup ref="none:Qualified"></attributeGroup>
    </complexType>


    <complexType name="TaxonOrRefType">
    	<choice maxOccurs="1" minOccurs="1">
    		<element ref="none:Taxon" maxOccurs="1" minOccurs="1"></element>
    		<element ref="none:refTaxon" maxOccurs="1" minOccurs="1"></element>
    	</choice>
    </complexType>

    <complexType name="AuthorityIdentifierOrRefType">
    	<choice>
    		<element ref="none:AuthorityIdentifier" maxOccurs="1" minOccurs="1"></element>
    		<element ref="none:refAuthority" maxOccurs="1" minOccurs="1"></element>
    	</choice>
    </complexType>

    <complexType name="SynonymyType">
    	<sequence>
    		<element name="synonyms">
    			<complexType>
    				<sequence maxOccurs="unbounded" minOccurs="2">
    					<choice>
    						<element ref="none:TaxonIdentifier" maxOccurs="1" minOccurs="1"></element>
                            <element ref="none:refTaxon" maxOccurs="1" minOccurs="1"></element>
                        </choice>
    				</sequence>
    			</complexType>
    		</element>
    	</sequence>
    </complexType>

    <complexType name="RankDefinitionType">
    	<sequence>
    		<element name="rank" type="string" maxOccurs="1"
    			minOccurs="0">
    		</element>
    		<element name="level" type="float" maxOccurs="1"
    			minOccurs="0">
    		</element>
    		<element name="types" maxOccurs="1" minOccurs="0">
    			<complexType>
    				<sequence minOccurs="1" maxOccurs="unbounded">
    					<choice><element ref="none:TaxonIdentifier" maxOccurs="1" minOccurs="1"></element><element ref="none:refTaxon" maxOccurs="1" minOccurs="1"></element></choice>
    				</sequence>
    			</complexType>
    		</element>
    	</sequence>
        <attributeGroup ref="none:Persistent"></attributeGroup>
    </complexType>

    <complexType name="PhyloDefinitionType">
    	<sequence>
    		<element name="prose" maxOccurs="1" minOccurs="1">
    			<complexType>
    				<sequence>
    					<any></any>
    				</sequence></complexType>
    		</element>
    		<element name="formula" maxOccurs="1" minOccurs="1">
    			<complexType>
    				<sequence>
    					<any></any>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="specifiers" maxOccurs="1" minOccurs="1">
    			<complexType>
    				<sequence minOccurs="1" maxOccurs="unbounded">
    					<element ref="none:TaxonIdentifier"></element>
    					<element ref="none:refTaxon"></element>
    				</sequence>
    			</complexType>
    		</element>
    	</sequence>
    	<attributeGroup ref="none:Persistent"></attributeGroup>
    </complexType>


    <complexType name="InclusionType">
    	<sequence>
    		<element name="superset"
    			type="none:TaxonIdentifierOrRefType" maxOccurs="1" minOccurs="1">
    		</element>
    		<element name="subset"
    			type="none:TaxonIdentifierOrRefType" maxOccurs="1" minOccurs="1">
    		</element>
    	</sequence>
    </complexType>
    
    <complexType name="DatasetType">
    	<sequence>
    		<element name="label" minOccurs="1" maxOccurs="1">
    			<complexType>
    				<sequence minOccurs="1" maxOccurs="1">
    					<element ref="none:Label" maxOccurs="1" minOccurs="1"/>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="weightPerGeneration" minOccurs="0" maxOccurs="1" type="float">
    		</element>
    		<element name="distanceRows" minOccurs="0" maxOccurs="1">
    			<complexType>
    				<sequence maxOccurs="unbounded" minOccurs="1">
    					<element ref="none:DistanceRow" maxOccurs="1" minOccurs="1"/>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="heredities" minOccurs="0" maxOccurs="1">
    			<complexType>
    				<sequence>
			    		<element name="weightPerGeneration" minOccurs="0" maxOccurs="1" type="float"></element>
	    				<sequence maxOccurs="unbounded" minOccurs="1">
	    					<element ref="none:Heredity" maxOccurs="1" minOccurs="1"/>
	    				</sequence>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="inclusions" minOccurs="0" maxOccurs="1">
    			<complexType>
    				<sequence maxOccurs="unbounded" minOccurs="1">
    					<element ref="none:Inclusion" maxOccurs="1" minOccurs="1"/>
    				</sequence>
    			</complexType>
    		</element>
    		<element name="synonymies" minOccurs="0" maxOccurs="1">
    			<complexType>
    				<sequence maxOccurs="unbounded" minOccurs="1">
    					<element ref="none:Synonymy" maxOccurs="1" minOccurs="1"/>
    				</sequence>
    			</complexType>
    		</element>
    	</sequence>
		<attributeGroup ref="none:Persistent"></attributeGroup>
 		<attributeGroup ref="none:Qualified"></attributeGroup>
    </complexType>

    <complexType name="DistanceRowType">
    	<sequence>
    		<element name="a" type="none:TaxonIdentifierOrRefType"
    			maxOccurs="1" minOccurs="1">
    		</element>
    		<element name="b" type="none:TaxonIdentifierOrRefType"
    			maxOccurs="1" minOccurs="1">
    		</element>
    		<element name="distance" type="float" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <complexType name="HeredityType">
    	<sequence>
    		<element name="predecessor"
    			type="none:TaxonIdentifierOrRefType" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="successor"
    			type="none:TaxonIdentifierOrRefType" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="weight" type="float" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="TaxonIdentifierOrRefType">
    	<choice>
    		<element ref="none:TaxonIdentifier" maxOccurs="1" minOccurs="1"></element>
    		<element ref="none:refTaxon" maxOccurs="1" minOccurs="1"></element>
    	</choice>
    </complexType>
</schema>